<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.simple.mapper.UserMapper">

    <resultMap id="userMap" type="tk.mybatis.simple.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectById" resultMap="userMap">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="tk.mybatis.simple.model.SysUser">
        SELECT
        id,
        user_name,
        user_password,
        user_email,
        user_info,
        head_img,
        create_time
        FROM sys_user
    </select>

    <select id="selectRolesByUserId" resultType="tk.mybatis.simple.model.SysRole">
        SELECT
        r.id,
        r.role_name,
        r.enabled,
        r.create_by,
        r.create_time,
        u.user_name     as "user.userName",
        u.user_email    as "user.userEmail"
        FROM sys_user u
        INNER JOIN  sys_user_role ur ON  u.id = ur.user_id
        INNER JOIN  sys_role r ON ur.role_id = r.id
        WHERE  u.id = #{userId}
    </select>

    <insert id="insert">
        INSERT into
         sys_user(id,user_name,user_password,user_email,user_info,head_img,create_time)
        VALUES (#{id},
        #{userName},
        #{userPassword},
        #{userEmail},#{userInfo},
        #{headImg,jdbcType=BLOB},
        #{createtime,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectByUser" resultType="tk.mybatis.simple.model.SysUser">
        select id,
        user_name        as userName,
        user_password    as userPassword,
        user_email       as userEmail,
        user_info        as  userInfo,
        head_img         as headImg,
        create_time      as createTime
        FROM sys_user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="userName != null and userName != ''">
                and user_name LIKE ('%',#{userName},'%')
            </if>
        </where>
    </select>

    <select id="selectByIdOrUserName" resultType="tk.mybatis.simple.model.SysUser">
        select id
        user_name        as userName,
        user_password    as userPassword,
        user_email       as userEmail,
        user_info        as  userInfo,
        head_img         as headImg,
        create_time      as createTime
        FROM  sys_user
        WHERE
        <choose>
            <when test="userName != null and userName != ''">
                and user_name = #{userName}
            </when>
            <otherwise>
                and 1=2
            </otherwise>
        </choose>
    </select>
<update id="updateByIdSelective">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userPassword != null and userPassword != ''">
                user_password = #{userPassword}
            </if>
            <if  test ="userEmail  !=  null  and  userEmail  !=''">
              user_email = #{userEmail} ,
            </if>
            <if  test =" userinfo  !=  null  and  userinfo  !=''">
             user_info  =  #{userinfo},
            </if>
            <if test ="headimg  != null" >
            head_img  =  #{headimg,  jdbcType=BLOB},
            </if>
            id = #{id}
        </set>
</update>

    <select id="selectByIdList" resultType="tk.mybatis.simple.model.SysUser">
        SELECT
         id,
         user_name           userName,
         user_password       userPassword,
         user_email          userEmail,
         user_info           userInfo,
         head_img            headImg,
         create_time         createTime
        FROM
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id" index="i">
            #{id}
        </foreach>
    </select>

    <select id="selectByIdArray" resultType="tk.mybatis.simple.model.SysUser">
        SELECT
        id,
        user_name           userName,
        user_password       userPassword,
        user_email          userEmail,
        user_info           userInfo,
        head_img            headImg,
        create_time         createTime
        FROM
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id" index="i">
            #{id}
        </foreach>
    </select>

    <insert id="insertList">
        INSERT INTO
        sys_user(user_name , user_password , user_email , user_info , head_img , create_time)
        VALUES
        <foreach collection="list" item="user" separator=",">
            (
              #{user.userName},#{user.userPassword},#{user.userEmail},
              #{user.userInfo},#{user.headImg , jdbcType=BLOB},#{user.createTime , jdbcType = TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="updateByMap">
        UPDATE sys_user
        set
        <foreach collection="_parameter" item="val" index="key" separator=",">
            ${key} = #{val}
        </foreach>
        WHERE id = #{id}
    </update>
</mapper>